*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
ul{
  list-style: none;
}
.container{
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.just{
  justify-content: space-between;
}
.logo-span{
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #000000;  
}
.head-contents{
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  position: relative;
 
}
.hero-img{
  position: absolute;
  right: -119px;
  top: -20px;
  z-index: 2;
}
.hero{
  position: relative;
  padding-top: 148px;
}
.nav-list{
  display: flex;
}
.nav-item + .nav-item{
  margin-left: 50px;
  
}
.align{
  align-items: center;
}
.head-items{
  position: relative;
  z-index: 2;
}
.nav-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #170C04;  
}
.tex{
  text-align: center;
}
.flex{
  display: flex;
}
.logo-span{
  margin-left: 5px;
}
.head-item{
  display: inline-block;
}
.hero-items{
  position: relative;
  z-index: 2;
}
.head-item + .head-item{
  margin-left: 39px;
}
.head-backround{
  position: absolute;
  top: -37px;
  right: -175px;
  z-index: 1;
}
.hero-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  width: 613px;
  color: #170C04; 
  margin-bottom: 45px;
}
.hero-link1{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #E27B3A;
  border-radius: 24px;
  padding: 12px 30px;
  border: 1px solid #E27B3A;
  display: inline-block;
  margin-right: 20px;
}
.hero-link{
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  padding: 12px 30px;
  border: 1px solid #E27B3A;
  border-radius: 24px;
}

.hero{
  padding-bottom: 267px;  
}
.comforts-list{
  position: relative;
  padding-bottom: 130px;
}
.comforts-item{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px; 
  width: 360px;
  padding: 40px 25px 18px 25px;
  position: relative;
  
}
.comforts-img{
  position: absolute;
  right: 148px;
  top: -31px;
}
.comforts-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #170C04;
  width: 310px;
  margin-bottom: 11px;
}
.margin{
  margin: 0 auto;
}
.comforts-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #170C04;
  opacity: 0.6;
  width: 298px; 
  margin-bottom: 24px;
}
.comfrts-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  display: block;
  text-align: center;
  width: 80px;
  
}
/* hero and header end */
/* section popular product */
.popular-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32.25px;
  line-height: 48px;
  text-align: center;
  color: #170C04;
  margin-bottom: 18px;
}
.popular-rext{
  width: 505px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #170C04;
  margin-bottom: 25px;
  
}
.products{
  margin-bottom: 57px;
  margin-bottom: 66px;
}
.popular1{
  width: 555px;

}
.product1{
  background: #FCF2EB;
  border-radius: 20px;
  display: inline-block;
  width: 555px;
  height: 420px;
}
.product1-img{
  padding: 71px 91px;
  display: block;

}
.product1-title{
 
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #170C04;   
   
}
.product1-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E27B3A;
  text-align: center;
  display: block;
  width: 88px;
}
.product-img{
  width: 360px;
  height: 273px;
  background: #FCF2EB;
  border-radius: 10px; 
  display: block;
}
.products-item{
  width: 360px;
}
.pro{
  display: block;
  margin: 0px auto;
  position: relative;
  top: 50px;
 
}
.pro1{
  position: relative;
  right: -27px;  
}
.pro-button{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  padding: 12px 30px;
  border: 1px solid #E27B3A;
  border-radius: 4px;
  display: block;
  width: 180px;
  margin-top: 46px;
}
.prodacts-buttton{
  padding-bottom: 58px;
}

/* pupular products end */
/* servises */
.with-servises-des{
  width: 419px;
}
.servises-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32.25px;
  line-height: 45px;
  color: #170C04;
  margin-bottom: 18px;
}
.servises-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #170C04;
  margin-bottom: 40px;
  
}
.servises{
  padding-bottom: 86px;
}
/* servises-end */
/* about */
.about-t-with{
  width: 256px;
  text-align: center;
}
.about-item{
  width: 310px;
}
.a-item-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #170C04;
  width: 297px;
  margin-top: 51px;
  margin-bottom: 22px;
  
}
.about-button{
  width: 131px;
  margin: 0 auto;
  display: block;
  padding-bottom: 150px;
}
.about-list{
  margin-bottom: 46px;
}
.a-item-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #170C04;
  width: 310px;
  margin-bottom: 15px;
}
/* about-end */
/* footer */
#footer-contents{
  background: #140A03;
}
.footer-span{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E27B3A;
  
}
.footer-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;  
}
.footer-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.8;  
}
.foter-social{
  margin-left: -170px;
}
.last-contents{
  padding-top: 80px;
  position: relative;
}
.footer-item{
  margin-bottom: 37px;
}
.footer-list-social{
  margin-top: 66px;
}
.social-item+.social-item{
  margin-left: 27px;
}
.footer-list1{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 54px solid #140A03;
  right: 291px;
  top: -54px;
}
.footer-logo{
  position: absolute;
  left: -25px;
  top: 64px;
}