*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
ul{
  list-style: none;
}
.container{
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.just{
  justify-content: space-between;
}
.logo-span{
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #000000;  
}
.head-contents{
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  position: relative;
 
}
.hero-img{
  position: absolute;
  right: -119px;
  top: -20px;
}
.hero{
  position: relative;
  padding-top: 148px;
}
.nav-list{
  display: flex;
}
.nav-item + .nav-item{
  margin-left: 50px;
  
}
.align{
  align-items: center;
}
.head-items{
  position: relative;
  z-index: 2;
}
.nav-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #170C04;  
}
.tex{
  text-align: center;
}
.flex{
  display: flex;
}
.logo-span{
  margin-left: 5px;
}
.head-item{
  display: inline-block;
}
.hero-items{
  position: relative;
  z-index: 2;
}
.head-item + .head-item{
  margin-left: 39px;
}
.head-backround{
  position: absolute;
  top: -37px;
  right: -175px;
  z-index: 1;
}
.hero-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  width: 613px;
  color: #170C04; 
  margin-bottom: 45px;
}
.hero-link1{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #E27B3A;
  border-radius: 24px;
  padding: 12px 30px;
  border: 1px solid #E27B3A;
  display: inline-block;
  margin-right: 20px;
}
.hero-link{
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  padding: 12px 30px;
  border: 1px solid #E27B3A;
  border-radius: 24px;
}

.hero{
  padding-bottom: 267px;  
}
.comforts-list{
  position: relative;
  padding-bottom: 200px;
}
.comforts-item{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px; 
  width: 360px;
  padding: 40px 25px 18px 25px;
  position: relative;
  
}
.comforts-img{
  position: absolute;
  right: 148px;
  top: -31px;
}
.comforts-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #170C04;
  width: 310px;
  margin-bottom: 11px;
}
.margin{
  margin: 0 auto;
}
.comforts-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #170C04;
  opacity: 0.6;
  width: 298px; 
  margin-bottom: 24px;
}
.comfrts-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  display: block;
  text-align: center;
  width: 80px;
  
}
#footer-contents{
  background: #140A03;
}
.footer-span{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E27B3A;
  
}
.footer-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;  
}
.footer-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.8;  
}
.foter-social{
  margin-left: -170px;
}
.last-contents{
  padding-top: 80px;
  position: relative;
}
.footer-item{
  margin-bottom: 37px;
}
.footer-list-social{
  margin-top: 66px;
}
.social-item+.social-item{
  margin-left: 27px;
}
.footer-list1{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 54px solid #140A03;
  right: 291px;
  top: -54px;
}
.footer-logo{
  position: absolute;
  left: -25px;
  top: 64px;
}